* {
    margin:0;
}

body {
    background:#fff;
    color:#000;
}

h1, h2, h3, h4, p {
    font-family: 'DM Sans', sans-serif;
    font-weight:300;
}

h1, h2 {
    font-weight:800;
}

.hero-area {
    padding:20%;
    text-align: center;
    background:url(images/background.jpeg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}




.hero-area h1 {
    letter-spacing:-3px;
    font-weight:900;
    font-size:100px;
}

.coming-soon {
    letter-spacing:-1px;
    font-size:30px;
    margin-top:50px;
    opacity: 0.8;
    font-weight:600;
}

.mockup-area {
    padding:5%;
    text-align: center;
}

.iphone {
    height:530px;
    width:300px;
    background:#fafafa;
    margin:20px;
    display: inline-block;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    transition: all 1s ease;
}


.iphone:hover {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    transition: all .3s ease;
}

.mockup-area p {
    font-size:20px;
    padding:40px 200px;
    opacity: 0.5;
    font-weight:600;
}

.iphone.app-1 {
    background:url(images/app1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.iphone.app-2 {
    background:url(images/app2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.iphone.app-3 {
    background:url(images/app3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}




@media only screen and (max-width: 800px) {


    .hero-area {
        padding:60% 5%;
        background:url(images/mobile.jpg);
        background-size:cover;
        background-repeat:no-repeat


    }

    .mockup-area p {
        font-size:20px;
        padding:20px;
    }

    .hero-area h1 {
        font-size:50px;
    }
  }

