* {
    margin:0;
}

body {
    background:#fff;
    color:#000;
}

h1, h2, h3, h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight:300;
}

h1, h2 {
    font-weight:800;
}

.hero-area {
    padding:20%;
    text-align: center;
    background:url(images/background.jpeg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}




.hero-area h1 {
    letter-spacing:-3px;
    font-weight:900;
    font-size:100px;
}

.coming-soon {
    letter-spacing:-1px;
    font-size:30px;
    margin-top:50px;
    opacity: 0.8;
    font-weight:600;
}

@media only screen and (max-width: 800px) {


    .hero-area {
        padding:60% 5%;
        background:url(images/mobile.jpg);
        background-size:cover;
        background-repeat:no-repeat

    }

    .hero-area h1 {
        font-size:50px;
    }
  }

